<div class="card">
    <img class="card-img-top mg-1" src="img/logo.png" alt="Book title">
    <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text mb-2">Some quick example text to build on the card title</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>