<div class="wrap-inner">
    <form method='POST' action="/postnews">
        <label for="search">Nhập từ khoá tìm kiếm: </label>
        <input type="text" name='q' id='search' placeholder='Search....'>
        <button type="submit">Search</button>
    </form>
</div>